<p id="notice"><%= notice %></p>

<h1>Listing User Input Data</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_input_data.each do |user_input_datum| %>
      <tr>
        <td><%= link_to 'Show', user_input_datum %></td>
        <td><%= link_to 'Edit', edit_user_input_datum_path(user_input_datum) %></td>
        <td><%= link_to 'Destroy', user_input_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User input datum', new_user_input_datum_path %>
