<html lang="en">
<meta charset="utf-8">
<title> Mappr </title>

<head>
<!--<%= javascript_include_tag "jquery.min" %>-->
<%= javascript_include_tag "jquery-ui"%>
<%= javascript_include_tag "bootstrap.js"%>
<%= javascript_include_tag "d3.min"%>
<%= javascript_include_tag "queue.min"%>

<%= javascript_include_tag "topojson.min"%>
<%= javascript_include_tag "tooltip"%>
<%= javascript_include_tag "makemap"%>
<%= javascript_include_tag "makemapback"%>

<%= stylesheet_link_tag "jquery-ui.css" %> 
<%= stylesheet_link_tag "bootstrap.css" %> 
<%= stylesheet_link_tag "indexstyle.css" %> 
<%= stylesheet_link_tag "mapstyle.css" %>
<%= stylesheet_link_tag "show.css" %>

<%= google_webfonts_init({
    google: ['Bitter', 'Raleway']
  }) %>


<script type="text/javascript">

    $(function() {
    	Mapper.initialize('<%= @display_variable.to_s %>', '<%= @filter_variable.to_s %>', '<%= @user_id.to_s %>', '<%= @dataset_id.to_s %>')
        Mapper.startAutocomplete();
    });
    $(function() {
        Mapper.submitClickHandler();
    });

    $(function () {
    	//$(document).tooltip();
    });

    $(document).ready(function() {
    	Mapper.start()
    	
    	$( "#shareButton" ).click(function() {
		  	Mapper.saveMap()
		});
    });
   
</script>



</head>


<body>

<%= render 'welcome/header' %>

<!-- THE STUFF BELOW IS HIDDEN AT FIRST -->

<div class="container secondContainer">
	<div class="row">
		<div class='col-1'>
			<h2 id='mapOfText' class="titleColText">Map of</h2>
		</div>
		<div class='col-2 titleCol'>
			<select placeholder="Variable" id="idvar" class="titleInput">
			</select>
		</div>
		<div class='col-2'>
			<h2 id='inText' class="titleColText">Filtering By </h2>
		</div>
		<div class='col-2 titleCol'>
			<select class="titleInput" placeholder="Filtering Variable" id="idfilteringvar">
			</select>
		</div>

		<div class='col-1'>
			<h2 id='inText' class="titleColText">Using</h2>
		</div>

		<div class='col-2 titleCol'>
			<select class="titleInput" placeholder="Dataset" id="iddataset">
			</select>	
		</div>

		<div class='col-1 titleCol'>
			<button type="submit" class="btn btn-default titleInput" id="idsubmit">
				Submit
			</button>
		</div>
		<div class="col-1 titleCol">
			<i class="fa fa-share fa-3x" id="shareButton"></i>
		</div>
	</div>
	<div class="row">
		
		<div id="canvas" class="col-9">
			
		</div>


		<div class="row">
			<div id="barcanvas" class="row col-3">

			</div>

			<div id="scattercanvas" class="col-3">
				<div id="slider-none" class="row hidden">
					<p>Select a filtering variable to enable filtering slider.</p>
				</div>
				<div id="slider" class="row hidden">
					<p>Select filtering variable value range</p>
					<input type="text" id="range-display" readonly/>
					<div id="slider-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
					</div>
					<button id="select-range">Select range</button>
				</div>

				<div class="row">
					<input type="text" class="col-xs-offset-4 col-xs-4" placeholder="Color" id="colorvar">
					<script>
						$('#colorvar').minicolors();
						$('#colorvar').on('input', function() {
							Mapper.changeColor($(this).val());
						})
					</script>
				</div>
			</div>

		</div>
		<div class="row col-12">
			<h5 id='graphTitle'>Legend</h5>
			<div id="legend"></div>
		</div>


	</div>
</div>

</body>