
<html lang="en">
<meta charset="utf-8">
<title> Mappr </title>

<head>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery-ui"%>
<%= javascript_include_tag "bootstrap.js"%>
<%= javascript_include_tag "d3.min"%>
<%= javascript_include_tag "queue.min"%>

<%= javascript_include_tag "topojson.min"%>
<%= javascript_include_tag "makemap"%>
<%= javascript_include_tag "makemapback"%>

<%= stylesheet_link_tag "jquery-ui.css" %> 
<%= stylesheet_link_tag "bootstrap.css" %> 
<%= stylesheet_link_tag "indexstyle.css" %> 
<%= stylesheet_link_tag "mapstyle.css" %>

<%= google_webfonts_init({
    google: ['Bitter', 'Raleway']
  }) %>


<script type="text/javascript">
    // This is a jQuery convention to say that once all the files
    // load, the function Smile.start() should run.
    // This function is defined in the smiles.js
    $(function() {
        Mapper.startAutocomplete();
    });
    $(function() {
        Mapper.submitClickHandler();
    });
</script>



</head>


<body>

<%= render 'welcome/header' %>

<div class="container secondContainer hidden">
	<div class="row">
		
		<div id="canvas" class="col-9">
			
		</div>

		<div class="row">
			<div id="barcanvas" class="col-3">

			Bar goes here
			</div>

			<div id="scattercanvas" class="col-3">

			Scatter goes here	
			</div>
		</div>
		<div class="row">
			<div id="legend" class="col-10"></div>
		</div>
	</div>
</div>



</body>