<html lang="en">
<meta charset="utf-8">
<title>Non-Contiguous Cartogram</title>

<head>

<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery-ui"%>
<%= javascript_include_tag "bootstrap.js"%>
<%= javascript_include_tag "d3.min"%>
<%= javascript_include_tag "queue.min"%>

<%= javascript_include_tag "topojson.min"%>
<%= javascript_include_tag "makemap"%>

<%= stylesheet_link_tag "jquery-ui.css" %> 
<%= stylesheet_link_tag "bootstrap.css" %> 
<%= stylesheet_link_tag "indexstyle.css" %> 
<%= stylesheet_link_tag "mapstyle.css" %>


<script type="text/javascript">
    // This is a jQuery convention to say that once all the files
    // load, the function Smile.start() should run.
    // This function is defined in the smiles.js
    $(function() {
        Mapper.startAutocomplete();
    });
    $(function() {
        Mapper.submitClickHandler();
    });
</script>



</head>


<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header" id="idnavcontainer">

    	<a class="navbar-brand" href="#">Mappr</a>
    </div>
  </div>
</nav>


<!-- THE STUFF BELOW IS HIDDEN AFTER CLICK -->
<div class="container initial-inputs" id="firstContainer">
	<div class="row">
		<input type="text" class="col-xs-offset-4 col-xs-4 firstDisplay" placeholder="Variable" id="idvar">
	</div>

	<div class="row">
		<input type="text" class="col-xs-offset-4 col-xs-4 firstDisplay" placeholder="Filtering Variable" id="idfilteringvar">
	</div>

	<div class="row">
		<input type="range" class="col-xs-offset-4 col-xs-4 firstDisplay" id="idrange" />
	</div>

	<div class="row">
		<input type="text" class="col-xs-offset-4 col-xs-4 firstDisplay" placeholder="Geography" id="idgeo">
	</div>
		
	<div class="row">
		<button type="submit" class="col-xs-offset-4 btn btn-default firstDisplay" id="idsubmit" >Submit</button>
	</div>

</div>




<!-- THE STUFF BELOW IS HIDDEN AT FIRST -->

<div class="container second hidden" id="secondContainer">
	<div class="row">
		<div id="canvas" class="col-9">
			
		</div>

		<div class="row">
			<div id="barcanvas" class="col-3" hidden>

			Bar goes here
			</div>

			<div id="scattercanvas" class="col-3" hidden>

			Scatter goes here	
			</div>
		</div>
	</div>
</div>



</body>