<html lang="en">
<meta charset="utf-8">
<title> Mappr </title>

<head>
<%= javascript_include_tag "jquery.min" %>
<%= javascript_include_tag "jquery-ui"%>
<%= javascript_include_tag "jquery.redirect" %>
<%= javascript_include_tag "bootstrap.js"%>
<%= javascript_include_tag "d3.min"%>
<%= javascript_include_tag "queue.min"%>


<%= javascript_include_tag "topojson.min"%>
<%= javascript_include_tag "tooltip"%>
<%= javascript_include_tag "makemap"%>
<%= javascript_include_tag "makemapback"%>

<%= stylesheet_link_tag "jquery-ui.css" %> 
<%= stylesheet_link_tag "bootstrap.css" %> 
<%= stylesheet_link_tag "indexstyle.css" %> 
<%= stylesheet_link_tag "mapstyle.css" %>




<script type="text/javascript">
    // This is a jQuery convention to say that once all the files
    // load, the function Smile.start() should run.
    // This function is defined in the smiles.js

    $(function() {
    	Mapper.initialize('<%= @display_variable.to_s %>', '<%= @filter_variable.to_s %>', null, 1)
        Mapper.startAutocomplete();
    });

    $(function() {
        Mapper.startAutocomplete();
    });
    $(function() {
        Mapper.submitHomeClickHandler();
    });
</script>



</head>


<body>

<%= render 'welcome/header' %>

<!-- THE STUFF BELOW IS HIDDEN AFTER CLICK -->
<div class="container firstContainer">
	<div class="row col-xs-offset-4 col-xs-4 titleText">
		<h1>Make A Map</h1>
	</div>
</div>
<div class="container firstContainer">

	<div class="row">
		<select class="col-xs-offset-4 col-xs-4 blockDisplay" placeholder="Variable" id="idvar">
		</select>
	</div>

	<div class="row">
		<!-- <h2 class="col-xs-offset-4 col-xs-4 blockDisplay"> Filtering by </h2>
		<select class="col-xs-offset-4 col-xs-4 blockDisplay" placeholder="Filtering Variable" id="idfilteringvar">
		</select> -->
	</div>
		
	<div class="row">
		<button type="submit" class="col-xs-offset-4 btn btn-info blockDisplay" id="idsubmit" >Submit</button>
	</div>

	<div class="row">
		<!-- TO DO: Make this link to a new dataset -->
		<a href="datasets/new" class="btn btn-default col-xs-offset-4 col-xs-4 blockDisplay" role="button">Add Custom Data</a>
	</div>

</div>

</body>