<html>
<head>
  
</head>
<body>
  <meta charset="utf-8">
  <title>QUnit Tests</title>
  	<%= javascript_include_tag "jquery.min"%>
  	<%= javascript_include_tag "d3.min"%>
	<%= javascript_include_tag "makemap"%>
	<%= javascript_include_tag "makemapback"%>
	<%= javascript_include_tag "points"%>
	<%= javascript_include_tag "queue.min"%>
	<%= javascript_include_tag "qunit-1.19.0"%>
	<%= javascript_include_tag "tests"%>

	<%= javascript_include_tag "topojson.min"%>
	<%= stylesheet_link_tag "qunit-1.19.0.css" %>
  
  <div id="qunit"></div>
  <div id="qunit-fixture"></div>
  <div id="canvas"></div>
  
</body>
</html>