<%= render 'welcome/header' %>
<h2 class="col-xs-offset-4 col-xs-4 center">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field col-xs-offset-5 col-xs-4 ">
    <p><%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions col-xs-offset-5 col-xs-4 ">
    <%= f.submit "Send me reset password instructions" %>
  </div>
<% end %>

<div class="col-xs-offset-5 col-xs-4">
	<%= render "users/shared/links" %>
</div>
